<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="and.clasificados.com"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Layer SDK uses these for monitoring network state and receiving GCM -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <!-- GCM permission for your app -->
    <permission
        android:name="and.clasificados.com.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="and.clasificados.com.permission.C2D_MESSAGE"/>

    <permission
        android:name="and.clasificados.com.Mapa.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="and.clasificados.com.locationapi.maps.permission.MAPS_RECEIVE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- GCM permission for your app -->
    <!-- Signature-only permissions -->
    <permission
        android:name="and.clasificados.com.permission.LAYER_PUSH"
        android:protectionLevel="signature" />

    <uses-permission android:name="and.clasificados.com.permission.LAYER_PUSH" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCeCNbYnsJYvqpGJsG0tRM8DBVjz_RrRUg" />

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.Filtro"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.Single"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.MainActivity" />
        </activity>
        <activity android:name=".atlas.util.imagepopup.AtlasImagePopupActivity"/>
        <activity
            android:name=".actividades.Registro"
            android:label="@string/title_activity_registro_usuario"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.Publicar"
            android:label="@string/title_activity_publicar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.MiCuenta"
            android:label="@string/nav_favoritos"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.Mensajes"
            android:label="@string/nav_mensajes"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.MainActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Layer SDK has these for monitoring network, boot, and GCM -->
        <receiver android:name="com.layer.sdk.services.LayerReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.ANY_DATA_STATE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.layer.sdk.services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="and.clasificados.com"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".layer.LayerPushReceiver">
            <intent-filter>
                <action android:name="com.layer.sdk.PUSH"/>
                <category android:name="and.clasificados.com"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="and.clasificados.com"/>
            </intent-filter>
        </receiver>

        <!-- For GCM Push Notifications -->
        <service android:name="com.layer.sdk.services.GcmIntentService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c0864e02352dde7651752073e60fc6bbb3295b04" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".actividades.Modificar"
            android:label="@string/title_activity_modificar"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.actividades.MiCuenta" />
        </activity>
        <activity
            android:name=".auxiliares.CustomPhotoGallery"
            android:label="@string/title_activity_custom_photo_gallery"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".layer.MiMensaje"
            android:label="@string/title_activity_mi_mensaje"
            android:parentActivityName=".actividades.Mensajes"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="and.clasificados.com.actividades.Mensajes" />
        </activity>
    </application>

</manifest>
